body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.heading {
  background-color: #413636;
  color: white;
  padding: 20px;
  margin-top: 0 !important;
  margin-bottom: 3px !important;
}

.upload-form {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6%;
}

.div-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6%;
}

.box {
  overflow-y: scroll;
  width: 30%;
  height: 300px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.subbox h2{
  color:white!important;
}

.list{
  color:white!important;
}